.event-details {
  margin-bottom: $base-spacing * 2;

  .separator {
    padding: 0 0.5em;
  }

  img {
    display: inline-block;
    height: 1.2em;
    padding-right: 0.2em;
    vertical-align: top;
  }

  p {
    font-size: modular-scale(2);
  }
}

.event-talks {
  margin-bottom: $base-spacing * 2;
}

.event-talks-list {
  li {
    border-bottom: 1px solid shade($base-border-color, 20%);
    font-size: modular-scale(2);
    padding: $small-spacing / 2 0;

    &.canceled {
      opacity: 0.4;
      text-decoration: line-through;
    }
  }
}

.event-rsvp {
  margin-bottom: $base-spacing * 2;

  .nvite-rsvp-widget-button-success {
    background-color: $action-color;

    &:hover {
      background-color: shade($action-color, 20%);
    }
  }
}

.event-people {
  margin-bottom: $base-spacing * 2;

  .nvite-widget-heading {
    font-size: modular-scale(1);
  }
}
