.section {
  margin-bottom: $base-spacing * 3;
}

.intro {
  @include outer-container;
  padding: 0 $gutter;
}

.leader-intro {
  font-family: $heading-font-family;
  font-size: modular-scale(4);
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0;
}

.next-event {
  background-color: $light-gray;
  padding: $base-spacing * 2 0;
}

.event-talks-list {
  li {
    border-bottom: 1px solid shade($base-border-color, 20%);
    padding: $base-spacing 0;
  }

  p {
    font-size: modular-scale(1);
  }
}

.past-events {
  @include outer-container;
  padding: 0 $gutter;
}

.past-events-list {
  .past-event {
    border-bottom: 1px solid transparent;
    border-top: $base-border;
    padding: $small-spacing 1em $small-spacing 0;
    position: relative;

    &::before {
      background-color: $action-color;
      bottom: -1px;
      content: '';
      opacity: 0;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 10px;
    }

    &:hover {
      background-color: tint($light-gray, 80%);
      border-bottom-color: $base-border-color;
      margin-left: -1em;
      padding-left: 1em;

      &::before {
        opacity: 1;
      }
    }
  }
}

.past-event-link {
  color: $base-font-color;

  &:hover {
    color: $action-color;
  }
}

.past-event-title {
  margin-bottom: 0;
}

.past-event-details {
  color: $medium-gray;
  font-size: modular-scale(1);
  margin: 0;
}

.footer {
  background-color: $dark-gray;
  color: $medium-gray;
  padding: $gutter;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
