.section {
  margin-bottom: $base-spacing * 3;
}

.intro {
  @include outer-container;
  padding: 0 $gutter;
}

.leader-intro {
  font-family: $heading-font-family;
  font-size: modular-scale(4);
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0;
}

.next-event {
  background-color: $light-gray;
  padding: $base-spacing * 2 0;

  h6 {
    font-weight: 600;
  }
}

.next-event-details {
  margin-bottom: $base-spacing * 2;

  .separator {
    padding: 0 0.5em;
  }

  img {
    display: inline-block;
    height: 1.2em;
    vertical-align: top;
    padding-right: 0.2em;
  }

  p {
    font-size: modular-scale(2);
  }
}

.next-event-talks {
  margin-bottom: $base-spacing * 2;
}

.next-event-talks-list {
  li {
    border-bottom: 1px solid shade($base-border-color, 20%);
    font-size: modular-scale(2);
    padding: $small-spacing / 2 0;
  }
}

.next-event-rsvp {
  margin-bottom: $base-spacing * 2;

  .nvite-rsvp-widget-button-success {
    background-color: $action-color;

    &:hover {
      background-color: shade($action-color, 20%);
    }
  }
}

.next-event-people {
  .nvite-widget-heading {
    font-size: modular-scale(1);
  }
}

.past-events {
  @include outer-container;
  padding: 0 $gutter;
}

.past-events-list {
  .past-event {
    border-bottom: 1px solid transparent;
    border-top: $base-border;
    padding: $small-spacing 1em $small-spacing 0;
    position: relative;

    &::before {
      background-color: $action-color;
      bottom: -1px;
      content: '';
      opacity: 0;
      position: absolute;
      right: 100%;
      top: -1px;
      width: 10px;
    }

    &:hover {
      background-color: tint($light-gray, 80%);
      border-bottom-color: $base-border-color;
      margin-left: -1em;
      padding-left: 1em;

      &::before {
        opacity: 1;
      }
    }
  }
}

.past-event-link {
  color: $base-font-color;

  &:hover {
    color: $action-color;
  }
}

.past-event-title {
  margin-bottom: 0;
}

.past-event-details {
  color: $medium-gray;
  font-size: modular-scale(1);
  margin: 0;
}

.footer {
  background-color: $dark-gray;
  color: $medium-gray;
  padding: $gutter;
  text-align: center;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
