body {
  padding: $base-spacing 0;
}

.container {
  @include outer-container;
  padding: 0 $gutter;
}

.section {
  margin-bottom: $base-spacing * 3;
}

.intro {
  @include outer-container;
  padding: 0 $gutter;
}

.logo {
  background-color: $action-color;
  color: #fff;
  display: inline-block;
  padding: 0 0.2em;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from,
  to {
    color: transparent;
  }

  50% {
    color: #fff;
  }
}

.leader-intro {
  font-family: $heading-font-family;
  font-size: modular-scale(4);
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0;
}

.next-event {
  background-color: $light-gray;
  padding: $base-spacing * 2 0;

  h6 {
    font-weight: 600;
  }
}

.next-event-details {
  margin-bottom: $base-spacing * 2;

  .separator {
    padding: 0 0.5em;
  }

  img {
    display: inline-block;
    height: 1em;
  }

  p {
    font-size: modular-scale(2);
  }
}

.next-event-talks {
  margin-bottom: $base-spacing * 2;
}

.talks-list {
  li {
    font-size: modular-scale(2);
  }
}

.next-event-rsvp {
  margin-bottom: $base-spacing * 2;

  .nvite-rsvp-widget-button-success {
    background-color: $action-color;

    &:hover {
      background-color: shade($action-color, 20%);
    }
  }
}

.next-event-people {
  .nvite-widget-heading {
    font-size: modular-scale(1);
  }
}

.past-events {
  @include outer-container;
  padding: 0 $gutter;
}

.events-list {
  li {
    font-size: modular-scale(2);
  }
}
