body {
  padding-top: $base-spacing;
}

.container {
  @include outer-container;
  padding: 0 $gutter;
}

.logo {
  background-color: $action-color;
  color: #fff;
  display: inline-block;
  padding: 0 0.2em;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: #fff;
  }
}

.social-links {
  float: right;
}

.social-link {
  filter: grayscale(100%);
  margin-left: 1em;
  opacity: 0.4;
  transition: 0.3s $base-timing;

  img {
    height: 62px;
  }

  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
}
