---
title: S01E01
date: 2014-07-03
location: Café Jean Jaurès
participants_count: 5
talks: []
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
