---
title: S01E05
date: "2014-11-19"
location: 1D Lab
participants_count: 20
talks:
  - subject: Présentation de Web en Vert
    speaker: Mehdi et Loïc
  - subject: Remote
    speaker: Mehdi Lahmam
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
