---
title: S01E06
date: "2014-12-18"
location: Axome
participants_count: 15
talks:
  - subject: IndieWeb
    speaker: Loïc Mathaud
    slides_url: http://loic.mathaud.fr/presentations/2014/presentation-indieweb
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
