---
title: S02E03
date: 2015-12-02
location: Bat. des Hautes Technologies
participants_count: 25
talks:
  - subject: Refactoring
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/refactoring-improving-the-design-of-existing-code
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
