---
title: S01E14
date: 2015-08-27
location: Café Jean Jaurès
participants_count: "?"
talks: []
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
