---
title: S01E08
date: "2015-02-25"
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Chef
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/cooking-clouds-like-a-chef
  - subject: Fabric
    speaker: Loïc Mathaud
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
