---
title: S01E09
date: 2015-03-25
location: Bat. des Hautes Technologies
participants_count: 25
talks:
  - subject: Gulp.js
    speaker: Sylvain Gougouzian
    slides_url: http://slides.com/gouz/gulp
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
