---
title: S02E01
date: "2015-09-10"
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Machine Learning
    speaker: Rémi Emonet
    slides_url: https://github.com/twitwi/Presentation-2015-09-30-ml-webenvert
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
