---
title: S01E12
date: "2015-06-24"
location: Bat. des Hautes Technologies
participants_count: 25
talks:
  - subject: Interfaces intuitives
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/interfaces-intuitives
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
