---
title: S01E10
date: "2015-04-29"
location: Bat. des Hautes Technologies
participants_count: 25
talks:
  - subject: La Revue de Code
    speaker: Claire Reynaud
    slides_url: http://www.clairereynaud.net/webenvert-revue-de-code
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
