---
title: S01E07
date: 2015-01-28
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Présentation de l'Atomic Design
    speaker: Marie Alhomme
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
