---
title: S02E02
date: "2015-10-21"
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Pair Programming
    speaker: Pierre Alexandre Piarulli
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
