---
title: S02E07
date: 2016-04-27
location: Bat. des Hautes Technologies
participants_count: 24
talks:
  - subject: Grilles typographiques
    speaker: Elodie Gautier
  - subject: Agriculture et web
    speaker: Marion Lambert
  - subject: Retour d'XP React / React Native
    speaker: Michael Mazurczak
    slides_url: https://dl.dropboxusercontent.com/u/107541759/saintereact.pdf
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
