---
title: S02E06
date: 2016-03-30
location: Bat. des Hautes Technologies
participants_count: 30
talks:
  - subject: Le design comme intermédiaire de la relation client
    speaker: Jean Philippe Cabaroc
  - subject: Débuter les tests avec Lumen et une API REST
    speaker: Loïc Mathaud
  - subject: "Interviews utilisateurs : conseils pratiques"
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/user-research
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
