---
title: S02E08
date: 2016-05-25
location: Bat. des Hautes Technologies
participants_count: 32
talks:
  - subject: "Learn To Learn: facts about learning"
    speaker: Rémi Emonet
    slides_url: https://github.com/twitwi/Presentation-2016-05-25-learntolearn-webenvert/
    embed_video_url: https://www.youtube.com/embed/vHNZO2Fc5O4
  - subject: Comment ça se passe quand je Googlise ?
    speaker: Nicolas Montes
    embed_video_url: https://www.youtube.com/embed/Du35Z21faRQ
  - subject: Containers, VMs, Processes… Isolation, performances, I/O… Comment ces technologies fonctionnent et comment les différencier ?
    speaker: Quentin Adam
    embed_video_url: https://www.youtube.com/embed/hBdS07eRXp8
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.3/cards.js" data-max="100" data-resource="db77/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
