---
title: S02E04
date: 2016-01-27
location: Bat. des Hautes Technologies
participants_count: 32
talks:
  - subject: Design et éducation
    speaker: Marion Couesnon
    slides_url: https://speakerdeck.com/marioncouesnon/design-et-education
  - subject: How the browser renders a web page
    speaker: Mehdi Lahmam
    slides_url: https://speakerdeck.com/mehlah/how-the-browser-renders-a-web-page
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
