---
title: S02E05
date: "2016-02-24"
location: Bat. des Hautes Technologies
participants_count: 30
talks:
  - subject: Design de la confiance sur internet
    speaker: Amélie Bernardo-Kent
  - subject: Développer une API en 10 minutes avec Lumen
    speaker: Sylvain Gougouzian
    slides_url: https://github.com/gouz/lumen-demo/blob/master/lumen.pdf
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>
</div>
