---
title: S03E02
date: "2016-10-27"
location: Bat. des Hautes Technologies
participants_count: 22
talks:
  - subject: Taïga vs Trello, Kanban appliqué à la gestion de projet
    speaker: Sylvain Gougouzian
    embed_video_url: https://www.youtube.com/embed/I3XwJ-V9nFo
  - subject: PHP7, the new hotness!
    speaker: Gabriel Calmels
    embed_video_url: https://www.youtube.com/embed/UwSAdNUzAzw
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.3/cards.js" data-max="100" data-resource="26ovxn/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
