---
title: S03E06
date: "2017-03-30"
location: Bat. des Hautes Technologies
participants_count: 20
talks:
  - subject: Play by play (live coding session)
    speaker: Mehdi Lahmam
    embed_video_url:
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="rrpezy/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
