---
title: S03E04
date: "2017-01-26"
location: Bat. des Hautes Technologies
participants_count: 10
talks:
  - subject: Real world architecture of a 2017 Java app
    speaker: Eric Denayrolles
    embed_video_url: https://www.youtube.com/embed/RqkMHPfh6DE
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="j2e13v/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
