---
title: S03E05
date: "2017-02-23"
location: Bat. des Hautes Technologies
participants_count: 5
talks: []
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %>

  <%= partial 'event_talks' %>

  <div class="event-people">
    <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="9o391d/guests" data-headline-text=":count galapiats y étaient"></script>
  </div>
</div>
