---
title: S06E01
date: "2021-10-13"
location: Grinta
participants_count: 7
talks: []
---

 <div class="container">
   <h3>#<%= current_page.data.title %></h3>

   <%= partial 'event_details' %>

   <%= partial 'event_talks' %>

   <div class="event-people">
     <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="gqn7vw/guests" data-headline-text=":count galapiats y étaient"></script>
   </div>
 </div>
