---
title: S07E01
date: "2023-05-09"
location: Créa Cowork
participants_count: 5
talks:
  - subject: "Comment gérer des journées de 35h ?"
    speaker: SylvainGougouzian
  - subject: "Orchestration de conteneurs avec Kubernetes"
    speaker: Yves Le Douaron
---

 <div class="container">
   <h3>#<%= current_page.data.title %></h3>

   <%= partial 'event_details' %>

   <%= partial 'event_talks' %>
 </div>
