---
title: S08E02
date: "2024-05-15"
location: Grinta
participants_count: 7
talks:
  - subject: "3615 Twitch, un bot Twitch sur Minitel ?"
    speaker: Sylvain Gougouzian
---

<div class="container">
  <h3>#<%= current_page.data.title %></h3>

  <%= partial 'event_details' %> <%= partial 'event_talks' %>
</div>
