---
title: S08E01
date: "2024-04-02"
location: Grinta
participants_count: 7
talks:
  - subject: "Assistants vocaux inclusifs : le défi de la neutralité de genre"
    speaker: Elodie Oudot
  - subject: "Possible de mesurer la productivité d'un développeur ?"
    speaker: Mehdi Lahmam
---

 <div class="container">
   <h3>#<%= current_page.data.title %></h3>

   <%= partial 'event_details' %>

   <%= partial 'event_talks' %>
 </div>
