<div class="event-details">
  <p><%= image_tag 'calendar.svg' %> <%= current_page.data.date.strftime('%d-%m-%Y') %> <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> <%= current_page.data.location %></p>
</div>
