!!! 5
%html
  %head
    %meta(charset='utf-8')
    %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')
    %title Web en Vert
    %meta(name='description' content='Communauté Web dans la région de Saint-Etienne et du Forez.')
    %meta(name='viewport' content='width=device-width,initial-scale=1')
    %link(rel='favicon' href='favicon.ico')
    = stylesheet_link_tag 'application'
    %link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    %script(src='//use.typekit.net/jre2tgz.js')
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    = yield

    %script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    = javascript_include_tag 'main'
