#main-footer {
  padding: em(100) 0;
  font-size: em(14);
  text-align: center;

  strong {
    text-transform: uppercase;
    display: block;
  }

  @include media($mobile) {
    font-size: em(12);
  }
}
