#main-header {
  background-color: $white;
  border-top: solid 3px $wevgreen;
  padding: em(30) 0;
  text-align: center;

  @include media($mobile) {
    height: auto;
  }
}

#logo {
  @include retina-image('logo', 176px 85px, $asset-pipeline: true);
  background-size: 100%;
  display: block;
  height: 85px;
  margin: 0 auto em(20);
  overflow: hidden;
  text-indent: -9999px;
  width: 176px;
}

#main-nav {
  ul {
    li {
      display: inline-block;
      margin: 0 em(15);

      &:after {
        content: '–';
        position: relative;
        right: -18px;
      }

      &:last-child:after{
        display: none;
      }

      a {
        @include transition(linear all 0.2s);
        color: $wevblue;
        font-size: em(14);
        font-weight: bold;
        text-transform: uppercase;
      }

      @include media($tablet-med) {
        margin: 0 em(5);

        &:after {
          display: none;
        }
      }

      @include media($tablet-small) {
        margin: 0 em(15);

        &:nth-child(4) {
          display: none;
        }
      }

      @include media($mobile) {
        display: block;
        margin-bottom: $base-line-height / 3;
      }
    }
  }
}
