// Typography
$sans-serif: "open-sans", verdana, $helvetica;
$slab-serif: "geared_slabregular", $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $slab-serif;

// Sizes
$base-scale: 1.5;
$base-font-size: 1em;
$base-line-height: $base-font-size * $base-scale;
$base-border-radius: 3px;

// Colors
$white: #FFFFFF;
$prim: #E9E9E9;
$alto: #DDDDDD;
$wevorange: #199B63;
$wevblue: #2e3641;
$glacier: #77ACC1;

// Orange Button Gradient
$terracotta: #189252;
$mojo: #0E7A3F;

// Blue Button Gradient
$river-bed: #475062;
$oxford-blue: #343E4F;

// Defaults
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #666;
$light-gray: #999;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Font Colors
$base-font-color: $medium-gray;
$base-accent-color: $glacier;

// Text Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15%);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
