<div class="intro section">
  <p class="leader-intro">
    Nous sommes une communauté de professionnels du web, sur Saint-Étienne et ses alentours.
    Nous nous rencontrons le premier mardi de chaque mois pour partager et échanger autour de nos métiers.
  </p>
</div>

<div class="next-event section">
  <div class="container">
    <h3>Prochain épisode : S08E03</h3>
    <div class="event-details">
      <p><%= image_tag 'calendar.svg' %> Mardi 11 juin de 19h à 22h <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> Grinta - 19 rue Georges Dupré</p>
    </div>

    <div class="event-talks">
      <h5>Apéro/talks</h5>
      <ul class="event-talks-list">
        <li>
          <h6 class="talk-title">Introduction au Data Engineering (30mn) — Florian Giroud</h6>
          <p>
            Nous poursuivons sur notre lancée avec une 3e rencontre Web En Vert en 2024.<br/>
            Pour cette rencontre nous aurons le plaisir d’accueillir Florian Giroud (Data Engineer chez <a href="https://www.hoodieanalytics.com">Hoodie Analytics</a>) qui nous fera une introduction au Data Engineering : définition, explication des enjeux et d’une architecture “data” moderne, etc.
          </p>
          <p>
            Florian traitera le sujet de manière suffisamment générale pour que tout un chacun puisse profiter de ce qu’il a à nous apprendre. <br/>
            Un exemple concret sera également présenté pour illustrer les propos.
          </p>
          <p>Il y aura bien sûr un moment pour poser des questions et échanger.</p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="past-events section">
  <h3>Précédents épisodes</h3>
  <ul class="past-events-list">
    <% blog.articles.each do |event| %>
      <li class="past-event">
        <% link_to event.url, class: 'past-event-link' do %>
          <h5 class="past-event-title"><%= event_title_for(event) %></h5>
          <p class="past-event-details"><%= event_details_for(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <p>Organisé avec amour par <a href="http://loic.mathaud.fr">Loïc Mathaud</a> & <a href="http://twitter.com/mehlah">Mehdi Lahmam</a></p>
</div>
