<div class="intro section">
  <p class="leader-intro">
    Nous sommes une communauté de professionnels du web, sur Saint-Étienne et ses alentours.
    Nous nous rencontrons le premier mardi de chaque mois pour partager et échanger autour de nos métiers.
  </p>
</div>

<div class="next-event section">
  <div class="container">
    <h3>Prochain épisode : S06E01 🍻</h3>
    <div class="event-details">
      <p><%= image_tag 'calendar.svg' %> Mercredi 13 octobre de 19h à 22h <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> Grinta - 19 rue Georges Dupré</p>
    </div>

    <div class="event-talks">
      <h5>Apéro pour bien redémarrer</h5>
      <ul class="event-talks-list">
        <li>
          <p>
            3 années d'arrêt n'ont pas eu raison de la communauté !<br/>
            Web en Vert revient en force pour une nouvelle saison pleine de belles personnes !
          </p>
        </li>
      </ul>
    </div>

    <div class="event-rsvp">
      <script async src="//widgets.nvite.com/1.6/button.js" data-resource="gqn7vw"></script>
    </div>

    <div class="event-people">
      <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="gqn7vw/guests" data-headline-text=":count galapiats y seront"></script>
    </div>
  </div>
</div>

<div class="past-events section">
  <h3>Précédents épisodes</h3>
  <ul class="past-events-list">
    <% blog.articles.each do |event| %>
      <li class="past-event">
        <% link_to event.url, class: 'past-event-link' do %>
          <h5 class="past-event-title"><%= event_title_for(event) %></h5>
          <p class="past-event-details"><%= event_details_for(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <p>Organisé avec amour par <a href="http://loic.mathaud.fr">Loïc Mathaud</a> & <a href="http://twitter.com/mehlah">Mehdi Lahmam</a></p>
</div>
