---
title: Page Title
---

<div class="intro section">
  <h3 class="logo">Web en vert<span class="blinking-cursor">_</span></h3>
  <p class="leader-intro">
    Nous sommes une communauté de professionnels du web, sur Saint-Etienne et ses alentours.
    Nous nous rencontrons le dernier mercredi de chaque mois pour partager et échanger autour de nos métiers.
  </p>
</div>

<div class="next-event section">
  <div class="container">
    <h3>Prochaine rencontre</h3>
    <div class="next-event-details">
      <p><%= image_tag 'calendar.svg' %> Mercredi 25 mai de 19h à 21h <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> Bat. des Hautes Technologies</p>
    </div>

    <div class="next-event-talks">
      <h5>Conférences du mois</h5>
      <ul class="next-event-talks-list">
        <li>Learn To Learn: facts about learning — Rémi Emonet</li>
        <li>Comment ça ce passe quand je Googlise ? — Nicolas Montes</li>
        <li>Unit & BDD style tests with Kahlan — Simon Jaillet</li>
      </ul>
    </div>

    <div class="next-event-rsvp">
      <script async src="//widgets.nvite.com/1.3/button.js" data-resource="db77"></script>
    </div>

    <div class="next-event-people">
      <script async src="//widgets.nvite.com/1.3/cards.js" data-resource="db77/guests" data-headline-text=":count galapiats y seront"></script>
    </div>
  </div>
</div>

<div class="past-events section">
  <h3>Précédentes rencontres</h3>
  <ul class="past-events-list">
    <% data.events.reverse.each do |event| %>
      <li class="past-event">
        <% link_to '', class: 'past-event-link' do %>
          <h5 class="past-event-title"><%= event_title_for(event) %></h5>
          <p class="past-event-details"><%= event_details_for(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
</div>
