<div class="intro section">
  <p class="leader-intro">
    Nous sommes une communauté de professionnels du web, sur Saint-Étienne et ses alentours.
    Nous nous rencontrons le premier mardi de chaque mois pour partager et échanger autour de nos métiers.
  </p>
</div>

<div class="next-event section">
  <div class="container">
    <h3>Prochain épisode : S08E01 🍻</h3>
    <div class="event-details">
      <p><%= image_tag 'calendar.svg' %> Mardi 02 avril de 19h à 22h <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> Grinta - 19 rue Georges Dupré</p>
    </div>

    <div class="event-talks">
      <h5>Apéro/talks</h5>
      <ul class="event-talks-list">
        <li>
          <h6 class="talk-title">Assistants vocaux inclusifs : le défi de la neutralité de genre — Elodie Oudot</h6>
          <p>
            Cette présentation explorera l’innovation et les défis liés à la création de voix neutres en genre (ni masculine ni féminine) pour les assistants vocaux. Nous explorerons comment la neutralité de genre peut transformer notre interaction avec la technologie et favoriser une plus grande inclusivité. L’accent sera mis sur l’importance de cette évolution dans un contexte technologique en rapide évolution, où la représentation et l’inclusivité deviennent des enjeux cruciaux.
          </p>
        </li>
        <li>
          <h6 class="talk-title">Possible de mesurer la productivité d'un développeur ? — Mehdi Lahmam</h6>
          <p>
            La mesure de la productivité des développeurs reste un défi majeur dans notre industrie. Les métriques et frameworks traditionnels ne parviennent souvent pas à saisir la véritable essence de la contribution d’un développeur à un projet. Cette intervention synthétise les méthodes actuelles et vise à explorer une approche plus holistique de l’évaluation de la productivité des développeurs, une approche qui transcende les méthodes conventionnelles et s’aligne sur la nature créative et collaborative du développement logiciel.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="past-events section">
  <h3>Précédents épisodes</h3>
  <ul class="past-events-list">
    <% blog.articles.each do |event| %>
      <li class="past-event">
        <% link_to event.url, class: 'past-event-link' do %>
          <h5 class="past-event-title"><%= event_title_for(event) %></h5>
          <p class="past-event-details"><%= event_details_for(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <p>Organisé avec amour par <a href="http://loic.mathaud.fr">Loïc Mathaud</a> & <a href="http://twitter.com/mehlah">Mehdi Lahmam</a></p>
</div>
