<div class="intro section">
  <p class="leader-intro">
    Nous sommes une communauté de professionnels du web, sur Saint-Étienne et ses alentours.
    Nous nous rencontrons le dernier jeudi de chaque mois pour partager et échanger autour de nos métiers.
  </p>
</div>

<div class="next-event section">
  <div class="container">
    <h3>Prochain épisode : S04E01</h3>
    <div class="event-details">
      <p><%= image_tag 'calendar.svg' %> Jeudi 05 avril de 19h à 21h <span class="separator">|</span> <%= image_tag 'map_marker.svg' %> Bat. des Hautes Technologies</p>
    </div>

    <div class="event-talks">
      <h5>Présentations du mois</h5>
      <ul class="event-talks-list">
        <li>
          <h6 class="talk-title">TBA</h6>
        </li>
      </ul>
    </div>

    <div class="event-rsvp">
      <script async src="//widgets.nvite.com/1.6/button.js" data-resource="7egngm"></script>
    </div>

    <div class="event-people">
      <script async src="//widgets.nvite.com/1.6/cards.js" data-max="100" data-resource="7egngm/guests" data-headline-text=":count galapiats y seront"></script>
    </div>
  </div>
</div>

<div class="past-events section">
  <h3>Précédents épisodes</h3>
  <ul class="past-events-list">
    <% blog.articles.each do |event| %>
      <li class="past-event">
        <% link_to event.url, class: 'past-event-link' do %>
          <h5 class="past-event-title"><%= event_title_for(event) %></h5>
          <p class="past-event-details"><%= event_details_for(event) %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="footer">
  <p>Organisé avec amour par <a href="http://loic.mathaud.fr">Loïc Mathaud</a> & <a href="http://twitter.com/mehlah">Mehdi Lahmam</a></p>
</div>
